@import url('https://fonts.googleapis.com/css2?family=Khand:wght@400;600&family=Raleway:ital,wght@0,500;0,900;1,300;1,700&display=swap');
/* General styles */
:root{
    --sm: 12px;
    --md: 16px;
    --lg: 18px;
    --black: rgba(0,0,0,1);
    --white: rgba(255,255,255,1);
    --navy-blue: rgba(24,18,30,1);
    --gunmetal: rgba(35,50,55,1);
    --rusty-red: rgba(152,75,67,1);
    --warm-yellow: rgba(234,198,122,1);
    --khand: 'Khand', sans-serif;
    --raleway: 'Raleway', sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    font-family: var(--khand);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--raleway);
}
input{
    font-family: var(--raleway);
}
/* Container styeles */
#video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    object-fit: cover;
    opacity: 0.5;
}
.main-container{
    width: auto;
    height: 100vh;
    display: grid;
    place-items: center;
    grid-template: 20% 60% 20% / 20% 60% 20%;
}
.main-container .content-container{
    display: inherit;
    grid-area: 2 / 2;
    z-index: 10;
    row-gap: 24px;
    place-items: center;
}
.main-container .content-container h1{
    text-align: center;
}
/* Form styles */
.form-container form{
    display: grid;
    grid-template: 33% 34% 33% / 50% 50%;
}
input{
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid var(--gunmetal);
}
input::placeholder{
    color: var(--navy-blue);
    font-size: var(--md);
}
#fullName,
#email,
#celPhone,
.input-age{
    display: inherit;
}
#fullName{
    grid-area: 1 / 1 / 1 / 3;
}
#email{
    grid-area: 2 / 1 ;
}
#celPhone{
    grid-area: 2 / 2;
}
.input-age{
    grid-area: 3 / 1 / 3 / 3;
}
.input-age label{
    font-family: var(--raleway);
}
#rangeAge{
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: var(--rusty-red);
    outline: none;
    opacity: 0.7;
    border-bottom: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}  
#rangeAge:hover {
    opacity: 1; 
}

#rangeAge::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 10px;
    background: var(--navy-blue);
    border-radius: 3px;
    cursor: pointer;
}
#rangeAge::-moz-range-thumb {
    width: 30px;
    height: 20px;
    background: var(--navy-blue);
    border-radius: 3px;
    cursor: pointer;
}