@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:ital,wght@0,500;0,900;1,300;1,700&display=swap');
/* General styles */
:root{
    --sm: 12px;
    --md: 16px;
    --lg: 18px;
    --xl: 24px;
    --xxl: 36px;
    --black: rgba(0,0,0,1);
    --white: rgba(255,255,255,1);
    --navy-blue: rgba(24,18,30,1);
    --gunmetal: rgba(35,50,55,1);
    --rusty-red: rgba(152,75,67,1);
    --warm-yellow: rgba(234,198,122,1);
    --khand: 'Permanent Marker', cursive;
    --raleway: 'Raleway', sans-serif;
    --bold: 900;
    --ligther:300;
}
*{
    box-sizing: border-box;
}
body{
    font-family: var(--khand);
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--khand);
}
input{
    font-family: var(--raleway);
}
/* Container styeles */
#video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    object-fit: cover;
    opacity: 0.95;
}
.main-container{
    width: auto;
    height: 100vh;
    display: grid;
    place-items: center;
    grid-template: 20% 60% 20% / 20% 60% 20%;
}
.main-container .content-container{
    display: inherit;
    grid-area: 2 / 2;
    z-index: 10;
    row-gap: 24px;
    place-items: center;
}
.main-container .content-container .welcome-msg{
    font-weight: var(--ligther);
    text-align: center;
    font-size: var(--xxl);
    color: transparent;
    -webkit-animation: aparicion 0.6s cubic-bezier(0.91, 0.02, 0.31, 0.98) 0.5s both;
            animation: aparicion 0.6s cubic-bezier(0.91, 0.02, 0.31, 0.98) 0.5s both;
}

@-webkit-keyframes aparicion {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 9px 0 var(--rusty-red), 0 15px 19px rgba(0, 0, 0, 0.5);
    }
}
@keyframes aparicion {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 9px 0 var(--rusty-red), 0 15px 19px rgba(0, 0, 0, 0.5);
    }
}

/* Form styles */
.form-container{
    
}
input{
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid var(--gunmetal);
    transition: all 0.5s;
}
input:active,
input:focus{
    border-bottom: 2px solid var(--warm-yellow);
    transition: all 0.2s;
}
input::placeholder{
    color: var(--navy-blue);
    font-size: var(--md);
}
#fullName{
    display: block;
    width: 100%;
    margin-bottom: 12px;
}
#email,
#celPhone{
    display: inline-block;
    width: 50%;
    margin-bottom: 12px;
}

.input-age{
    display: block;
    width: 100%;
    margin-bottom: 12px;
}
.input-age label{
    font-family: var(--raleway);
}
#rangeAge{
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: var(--rusty-red);
    outline: none;
    opacity: 0.7;
    border-bottom: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}  
#rangeAge:hover {
    opacity: 1; 
}

#rangeAge::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 10px;
    background: var(--navy-blue);
    border-radius: 3px;
    cursor: pointer;
}
#rangeAge::-moz-range-thumb {
    width: 30px;
    height: 20px;
    background: var(--navy-blue);
    border-radius: 3px;
    cursor: pointer;
}